body {
    font-family: sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
    text-decoration: none;
}

button {
    background: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 24px 205px;
} 

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header a,
.hero {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 52px 205px;
    gap: 54px
} 

.heroHeader{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.heroLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 24px;
    gap: 8px;
}

.heroSecondary {
    font-size: 18px;
    color: #e5e7eb;
}

.heroImage {
    background-color: gray;
    width: 522px;
    height: 237px;
}

.infoSection {
    text-align: center;
    padding-bottom: 52px;
}

.infoTitle {
    font-size: 36px;
    font-weight: bolder;
    margin: 32px 0px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 160px;
}

.infoImg {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    border: 4px solid #3882f6;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-container {
    margin: 52px auto;
    width: 790px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.attribution-text {
    align-self: flex-end;
    font-weight: bold;
}

.call-to-action {
    margin: 52px 205px;
    color: white;
    background-color: #3882f6;
    padding: 24px;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: space-around;
}

.call-to-action-left {
    display: flex;
    flex-direction: column;
}

.action-header {
    font-weight: bold;
}

.action-text {
    font-weight: lighter;
}

.call-to-action button{
    border: 1px solid #f9faf8;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
    color: #f9faf8;
}


